<h3>Welcome to MobileCOL!</h3>
<p>This is an <b>unofficial</b> way for you to log in to your DePaul University COLWeb account using your iPhone.</p>
<p>Get started by creating an account if you don't already have one.</p>