<% title "MobileCOL Control Panel"%>

<% nav [
  list_link_to( "Current Courses", courses_path ),
  list_link_to( "Assignment Calendar", assignments_path), 
  list_link_to( "Recent Announcements", courses_path),
  list_link_to( "Settings", edit_user_path)  
  ] %>

<%- if current_user.first_name -%>
<h3>Hi, <%= current_user.first_name %>!</h3>
<%- end -%>
<p>Thanks for logging in.</p>


<%= render :partial => 'alerts' %>



<%= render :partial => 'footer' %>