<div class="w33">
<form name="first" method="get" action="/courses">
  <p><label for="formaction">Script Action (API Endpoint):</label><br />
  <input type="text" name="formaction" id="formaction" value="/courses" />
  </p>
  
  <p><label for="api_key">API Key:</label>
  <% if !current_api_user %>
   (<a href="/signup">Get one here</a>)<br />
  <input type="text" name="api_key" id="api_key" value="" />
  <% else %>
  <input type="hidden" name="api_key" id="api_key" value="<%= current_api_user.api_key %>" />
  <%= current_api_user.api_key[0..5] %>... (etc)
  <% end %>
  </p>
  
  <p><label for="student_id">Student ID:</label><br />
  <input type="text" name="student[col_username]" id="student_id" value="" />
  </p>
  
  <p><label for="student_password">Student Password (if required for transaction):</label><br />
  <input type="text" name="student[col_password]" id="student_password" value="" />
  </p>  
              
  <p><label for="submit">Submit</label><br />
  <input type="submit" name="submit" id="submit" value="Get XML" />
  </p>      
</form>
</div><!-- w33 -->
<div class="w66">
  <textarea id="response" name="response" disabled="disabled">
  </textarea><br />
  <button id="clipboard" onclick="copy_to_clipboard('response')">Copy to Clipboard</button> | <button id="response_clear">Clear</button>
</div>