<% title "Register for a #{PRODUCT_NAME} API Key" %>
<p>This is where you can get an API Key for <%= PRODUCT_NAME %>.</p>  
<p>There's several resources for using the API over at <a href="http://github.com/colinyoung/mobilecol">the GitHub profile for <%= PRODUCT_NAME %></a>, including:</p>
  <ul>
    <li>An endpoint manual,</li>
    <li>A security overview, and</li>
    <li>An example application with caching and user validation</li>        
  </ul>
<p>Go ahead and get one!  <a href="mailto:project@<%= PRODUCT_DOMAIN %>">Interested in joining the project?</a></p>
<hr />
Continue to <%= link_to "Step 1: Your information &raquo;", new_api_user_path %>