<p>Register for an API Key.</p>
<p><b>Please Note:</b> You must use either an <em>@depaul.edu</em>, <em>@students.depaul.edu</em>, or <em>@mail.depaul.edu</em> address to register.  Once you verify your account, you can change your email address if you do not frequently use your DePaul email address.</p>
<%= render :partial => 'api_user_form' %>
